<?xml version="1.0" encoding="UTF-8"?>
<!-- Sql Mapper -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ksh.insta.model.mapper.MemberMapper">
	<sql id="selectAllMember">
		select id,pw,name,pr,profile_pic,tel,email,sex,status,joined from Member
	</sql>
	
	<select id="findMemberById" resultType="memberVO" parameterType="string">
		select id,pw,name,pr,profile_pic,tel,email,sex,status,joined from member where id=#{value}
	</select>
	
	<select id="findAuthorityById" resultType="authority">
		select id,grade from grade where id=#{value}
	</select>
	
	<insert id="registerMember">
		insert into member(id,pw,name,email) values(#{id},#{pw},#{name},#{email})
	</insert>
	
	<insert id="registerMemberGrade" parameterType="authority">
		insert into grade(GRADE,ID) values(#{grade},#{id})
	</insert>
</mapper>